/* all */
* {
  box-sizing: border-box;
  background-color: #FFE3D3;
}

a {
  color: black;
}

.sidebar {
  float: right;
}

li {
  display: inline-block;
}

.about, .contact, .sidebar, .title, .projects {
  font-family: "Droid Sans Mono";
  color: black;
}

/* title page */
.title {
  text-align: center;
  margin-top: 29vh;
}

/* about/contact/projects */
#hello, #info, #proj {
  width: 22vw;
  float: left;
}

#list {
  width: 22vw;
  margin-top: 1vh;
  margin-left: 28vw;
  position: absolute;
}

.text {
  background: transparent;
}

/* js */
.borderClass {
  border-style: dotted;
  border-width: 3px;
  border-color: white;
}
