/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all */
* {
	background-color: #ffe1cc;
  box-sizing: border-box;
}

body {
  line-height: 1.35em;
}

a {
  color: black;
}

h1 {
  font-size: 200%;
	font-weight: bold;
	line-height: 1.35em;
  margin-bottom: 3vh;
}

.cf::before, .cf::after {
  content:"";
  display:table;
}

.cf::after {
  clear: both;
}

.cf {
  clear: both;
}

.sidebar {
  float: right;
  margin-right: .9vw;
  margin-top: 1vh;
}

li {
  display: inline-block;
}

.about,
.contact,
.sidebar,
.title,
.thoughts,
.projects,
a {
	color: #192299;
	font-family: "Droid Sans Mono";
}

.text {
	background: transparent;
}

html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* title page */
.title {
  margin-top: 25vh;
  text-align: center;
	background: transparent;
	color: white;
}

.cf,
.sidebar,
.maintext,
.link
 {
	background: transparent;
	color: #f1ff63;
}

/* about/contact/projects/thoughts */
.about,
.contact,
.projects,
.thoughts {
  display: inline-block;
  margin: 0vh .9vw;
}

#hello,
#info,
#proj {
  width: 22vw;
}

/* js */
.borderClass {
  border: 3px dotted #f1ff63;
}
